.container {
  width: 50%;
  height: 100%;
  position: relative;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
}

.input {
  position: absolute;
  bottom: 50%;
  resize: none;
  width: 100%;
  font-size: 24px;
  box-shadow: 0 5px 5px #ddd;
  border: none;
  outline: none;
  padding: 20px;
  border-radius: 5px;
}

.sendButton {
  position: absolute;
  bottom: calc(50% - 60px);
}
